<div data-id="ingredient_id" class="row">
    <div class="col-xs-12">
        <input
            class="ingredient-name"
            name="ingredient"
            type="text"
            list="ingredients_list"
            placeholder="Мука"
            autocomplete="off"
        />
    </div>
    <div class="col-sm-5 col-xs-6">
        <input
            class="ingredient-data"
            name="quantity"
            type="number"
            min="0"
            step="0.1"
            autocomplete="off"
            placeholder="Количество"
        />
    </div>
    <div class="col-sm-5 col-xs-6 col-sm-offset-2">
        <input
            class="ingredient-data"
            name="unit"
            type="text"
            readonly
            placeholder="Ед. изм."
            autocomplete="off"
        />
    </div>
</div>