<div class="row">
    <div class="col-xs-12">
        <label data-content="step_number"></label><br />
        <div class="row">
            <div class="col-xs-12">
                <input
                    name="name"
                    id="name"
                    type="text"
                    placeholder="Растопить сливочное масло"
                    autocomplete="off"
                />
            </div>
            <div class="col-xs-12">
                <label
                    >Добавить фото/видео</label
                ><br />
                <input
                    name="recipe_photo"
                    type="file"
                    accept="image/*, video/*"
                />
            </div>
            <div class="col-xs-12">
                <div class="timer-row row">
                    <div
                        class="col-lg-2 col-md-3 col-sm-4 col-xs-5 start-sm center-xs"
                    >
                        <input
                            class="square-input"
                            name="hours"
                            type="number"
                            min="0"
                            max="99"
                            value="0"
                            step="1"
                            autocomplete="off"
                        />
                        <label>часов</label>
                    </div>
                    <div
                        class="col-lg-2 col-md-3 col-sm-4 col-xs-5 start-sm center-xs"
                    >
                        <input
                            class="square-input"
                            name="minutes"
                            type="number"
                            min="0"
                            max="59"
                            value="0"
                            step="1"
                            autocomplete="off"
                        />
                        <label>минут</label>
                        <br />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>