<div data-id="step_id" class="step-container row">
    <div class="col-xs-12">
        <label data-content="step_number"></label><br />
        <div class="row">
            <div class="col-xs-12">
                <input
                    name="step"
                    type="text"
                    placeholder="Растопить сливочное масло"
                    autocomplete="off"
                />
            </div>
            <div data-id="step_media_id" class="step-media-container col-xs-12">
                <label>Добавить фото/видео</label><br />
                <input
                    name="media"
                    class="hidden-input"
                    type="file"
                    accept="image/bmp, image/gif, image/jpeg, image/png, image/svg+xml, video/quicktime, video/mp4, video/webm"
                />
                <label class="hidden-input-label load-label">
                    Загрузить файл
                </label>
            </div>
            <div class="col-xs-12">
                <div class="timer-row row">
                    <div
                        class="col-lg-2 col-md-3 col-sm-4 col-xs-5 start-sm center-xs"
                    >
                        <input
                            class="square-input"
                            name="hours"
                            type="number"
                            min="0"
                            max="99"
                            value="0"
                            step="1"
                            autocomplete="off"
                        />
                        <label>часов</label>
                    </div>
                    <div
                        class="col-lg-2 col-md-3 col-sm-4 col-xs-5 start-sm center-xs"
                    >
                        <input
                            class="square-input"
                            name="minutes"
                            type="number"
                            min="0"
                            max="59"
                            value="0"
                            step="1"
                            autocomplete="off"
                        />
                        <label>минут</label>
                        <br />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div data-id="deletion_btn_id" class="row">
    <div class="col-md-5 col-xs">
        <button class="delete-btn btn btn-wide btn-abort" type="button">
            Удалить шаг
        </button>
    </div>
</div>
