<div data-id="tag_id" class="row">
    <div class="col-xs-12">
        <input
            class="tag-input"
            name="tag"
            type="text"
            list="tags_list"
            placeholder="Вегетарианское"
            autocomplete="off"
        />
    </div>
</div>
<div data-id="deletion_btn_id" class="row">
    <div class="col-md-5 col-xs">
        <button
            class="delete-btn btn btn-wide btn-abort"
            type="button"
        >
            Удалить тег
        </button>
    </div>
</div>