.jumbotron {
    background-image: url(../img/index/jumbotron_background.png);
    background-size: cover;
    background-position: center center;
    padding: 150px 0;
}

.jumbotron-content {
    height: 100%;
}

.jumbotron-text-block {
    position: relative;
    z-index: 1;
    width: 100%;
    top: -100px;
    left: 25px;
}

.jumbotron-title {
    position: absolute;
    font-size: 64px;
    font-weight: 700;
}

.jumbotron-intro {
    position: absolute;
    top: 100px;
    left: 35px;
    color: #315941;
    font-style: italic;
}

.jumbotron-text-back {
    color: rgba(49, 89, 65, 0.3);
    top: -10px;
    left: -25px;
}

.jumbotron-img {
    width: 100%;
}

.sort-icon {
    margin-bottom: 40px;
    border-radius: 15px;
    box-shadow: 0 10px 30px 0 rgba(49, 89, 65, 0.26);
    transition: 0.5s;
}

.sort-icon:hover {
    box-shadow: 0 10px 30px 0 rgba(49, 89, 65, 0.6);
}

.menu-container {
    position: relative;
}

.menu-block {
    width: 100%;
    position: absolute;
    z-index: 10;
}

.filter-menu {
    box-sizing: border-box;
    background-color: #fff;
    width: 100%;
    box-shadow: 0 10px 30px 0 rgba(49, 89, 65, 0.26);
    padding: 20px 20px 10px;
    border-radius: 15px;
    /* opacity: 0;
    display: none; */
}

.filter-menu p {
    margin: 10px 0;
}

.sort-menu {
    box-sizing: border-box;
    background-color: #fff;
    width: 100%;
    box-shadow: 0 10px 30px 0 rgba(49, 89, 65, 0.26);
    padding: 20px 20px 10px;
    border-radius: 15px;
    opacity: 0;
    display: none;
}

.sort-menu p {
    margin: 0;
    margin-bottom: 10px;
}

.sort-menu ul {
    padding-left: 0;
}

.sort-menu ul {
    padding-left: 0;
    margin: 0;
}

.sort-menu ul li {
    list-style-type: none;
    padding: 10px 0;
    border-bottom: 1px solid #d9d9d9;
    transition: 0.5s;
    cursor: pointer;
}

.sort-menu ul li:hover {
    color: #61b030;
}

.sort-menu ul li:last-child {
    border-bottom: none;
    
}

.recipes {
    padding-bottom: 100px;
}

.irs--flat .irs-handle>i:first-child {
    background-color: #61b030!important;
}
.irs--flat .irs-bar {
    background-color: #61b030!important;
}
.irs--flat .irs-from, .irs--flat .irs-to, .irs--flat .irs-single {
    background-color: #61b030!important;
}
.irs--flat .irs-from:before, .irs--flat .irs-to:before, .irs--flat .irs-single:before {
    border-top-color: #61b030!important;
}

/* body {
    background-image: url(../img/index/jumbotron_background.png);
    background-size: cover;
    background-position: center center;
} */