.jumbotron {
    background-image: url(../img/index/jumbotron_background.png);
    background-size: cover;
    background-position: center center;
    padding: 150px 0;
}

.jumbotron-content {
    height: 100%;
}

.jumbotron-text-block {
    position: relative;
    z-index: 1;
    width: 100%;
    top: -100px;
    left: 25px;
}

.jumbotron-title {
    position: absolute;
    font-size: 64px;
    font-weight: 700;
}

.jumbotron-intro {
    position: absolute;
    top: 100px;
    left: 35px;
    color: #315941;
    font-style: italic;
}

.jumbotron-text-back {
    color: rgba(49, 89, 65, 0.3);
    top: -10px;
    left: -25px;
}

.jumbotron-img {
    width: 100%;
}

.sort-icon {
    margin-bottom: 40px;
    border-radius: 15px;
    box-shadow: 0 10px 30px 0 rgba(49, 89, 65, 0.26);
    transition: 0.5s;
}

.sort-icon:hover {
    box-shadow: 0 10px 30px 0 rgba(49, 89, 65, 0.6);
}

.recipe-card {
    height: 360px;
    border-radius: 36px;
    box-shadow: 0 10px 30px 0 rgba(49, 89, 65, 0.26);
    margin-bottom: 45px;
    transition: 0.5s;
}

.recipe-card:hover {
    box-shadow: 0 10px 30px 0 rgba(49, 89, 65, 0.4);
}

.recipe-card-img {
    width: 100%;
    border-radius: 36px 36px 0 0;
}

.recipe-card-name {
    margin: 0;
    padding: 10px 30px;
}

.recipe-card-info {
    position: relative;
}

.recipe-card-time-block {
    position: absolute;
    top: -60px;
    right: 7px;
    background-color: #fff;
    border-radius: 23px;
    padding: 7px 25px;
}

.recipe-card-time {
    margin: 0;
}

.recipes {
    padding-bottom: 100px;
}

.recipe-link {
    text-decoration: none;
    color: #144f2b;
}

/* body {
    background-image: url(../img/index/jumbotron_background.png);
    background-size: cover;
    background-position: center center;
} */