.profile-pic-container {
    margin-bottom: 30px;
}

.menu {
    margin-bottom: 40px;
    padding: 18px 0;
    background-color: #d9d9d9;
    border-radius: 15px;
}

.tab {
    font-size: 18px;
    width: 100%;
    margin-right: -6px;
    display: inline-block;
    cursor: pointer;
}

.buttons-container {
    margin-bottom: 100px;
}

.button-container {
    margin-bottom: 30px;
}

.favourite-btn {
    position: absolute;
    top: 15px;
    right: 15px;
    padding: 6px 6px 0;
    border-radius: 15px;
    background-color: #ff2787;
    z-index: 1;
    cursor: pointer;
    transition: 0.3s ease;
}

.favourite-btn:hover {
    top: 12px;
    right: 12px;
    padding: 9px 9px 3px;
}


.edit-btn {
    position: absolute;
    top: 15px;
    right: 85px;
    padding: 9px 8.5px 2px;
    border-radius: 15px;
    background-color: #fff;
    z-index: 1;
    cursor: pointer;
    transition: 0.3s ease;
}

.edit-btn:hover {
    top: 12px;
    right: 82px;
    padding: 12px 11.5px 5px;
}

.delete-btn {
    position: absolute;
    top: 15px;
    right: 15px;
    padding: 9px 8px 1px;
    border-radius: 15px;
    background-color: #fff;
    z-index: 1;
    cursor: pointer;
    transition: 0.3s ease;
}

.delete-btn:hover {
    top: 12px;
    right: 12px;
    padding: 12px 11px 4px;
}

#profile_content_container {
    min-height: 30vh;
}

.change-photo {
    text-decoration: underline;
    color: #144f2b;
    cursor: pointer;
}