.round-block {
    background-color: #d9d9d9;
    border-radius: 100%;
    width: 100%;
    padding-top: 100%;
    margin-bottom: 30px;
    position: relative;
}

.round-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 100%;
}

.menu {
    padding-bottom: 40px;
}

.tab {
    background-color: #d9d9d9;
    padding: 18px 0;
    border-right: #9d9d9d solid 3px;
}

.first {
    border-radius: 15px 0 0 15px;
}

.last {
    border-radius: 0 15px 15px 0;
    border-right: none;
}

.active {
    background-color: #61b030;
    color: #fff;
}

.tab-name {
    margin: 0;
}

.submit-container {
    margin-bottom: 100px;
}

.favourite-btn {
    position: absolute;
    top: 15px;
    right: 15px;
    padding: 9px 8px 3px;
    border-radius: 15px;
    background-color: #fff;
    z-index: 1;
}