.profile-pic-container {
    margin-bottom: 30px;
}

.menu {
    margin-bottom: 40px;
    padding: 18px 0;
    background-color: #d9d9d9;
    border-radius: 15px;
}

.tab {
    font-size: 18px;
    width: 100%;
    margin-right: -6px;
    display: inline-block;
    cursor: pointer;
}

.buttons-container {
    margin-bottom: 100px;
}

.button-container {
    margin-bottom: 30px;
}

.favourite-btn {
    position: absolute;
    top: 15px;
    right: 15px;
    padding: 9px 8px 3px;
    border-radius: 15px;
    background-color: #fff;
    z-index: 1;
}

.edit-btn {
    position: absolute;
    top: 15px;
    right: 85px;
    padding: 9px 8.5px 2px;
    border-radius: 15px;
    background-color: #fff;
    z-index: 1;
}

.delete-btn {
    position: absolute;
    top: 15px;
    right: 15px;
    padding: 9px 8px 1px;
    border-radius: 15px;
    background-color: #fff;
    z-index: 1;
}

#profile_content_container {
    min-height: 30vh;
}