.recipe-img-block {
    position: relative;
}

.recipe-img-btn {
    position: absolute;
    border-radius: 15px;
    background-color: #fff;
    cursor: pointer;
    pointer-events: auto;
    transition: 0.3s ease;
    padding: 6px 6px 0;
}

.recipe-img-btn:hover {
    padding: 9px 9px 3px;
}

.rating {
    bottom: 21px;
}

.rating:hover {
    bottom: 18px;
}

.upvote {
    left: 15px;
}

.downvote {
    left: 86px;
}

.upvote:hover {
    left: 12px;
}

.downvote:hover {
    left: 83px;
}

.favourite {
    top: 15px;
    right: 15px;
}

.favourite:hover {
    top: 12px;
    right: 12px;
}

.recipe-img {
    width: 100%;
}

.recipe-info {
    margin-top: 60px;
    margin-bottom: 50px;
}

.info-block {
    border-radius: 15px;
    background-color: #61b030;
    box-shadow: 0 10px 30px 0 rgba(49, 89, 65, 0.26);
    margin-bottom: 20px;
}

.info-category {
    margin: 0;
    padding-top: 12px;
    color: #fff;
}

.info-value-block {
    border-radius: 15px;
    margin: 12px 0;
    padding: 21px 0;
    background-color: #fff;
    height: 50px;
}

.servings-fix {
    padding-left: 8px;
}

.servings-block {
    border-radius: 15px;
    box-shadow: 0 10px 30px 0 rgba(49, 89, 65, 0.26);
    padding: 6px 16px;
}

.servings {
    margin: 0;
    font-size: 36px;
}

.ingredient {
    padding-bottom: 40px;
    padding-left: 50px;
}

.ingredient-data {
    margin: 0;
}

.steps-block {
    border-radius: 30px;
    box-shadow: 0 10px 30px 0 rgba(49, 89, 65, 0.26);
    padding: 14px 46px;
}

.recommendations-block {
    padding: 16px 0 46px;
}

.recommendations {
    padding-left: 50px;
}

.section-padding {
    padding-bottom: 90px;
}

.center-fix {
    padding: 0 8px;
}

@media screen and (width < 576px) {
    .ingredient {
        padding-left: 0;
    }

    .recommendations {
        padding-left: 0;
    }
}

.timer-block {
    background-color: #61b030;
    border-radius: 15px;
    padding: 12px 0;
    margin: 70px 0px;
}

.timer-block img {
    cursor: pointer;
}

.timer {
    margin: 0;
    color: #fff;
    font-size: 60px;
    font-weight: 700;
    margin-bottom: 30px;
}

.btn-container {
    margin-top: 20px;
}

#step_section {
    min-height: 40vh;
}

.media {
    width: 100%;
}

.rating-row {
    display: inline-block;
}

#author_container a {
    color: #144f2b;
}

#author_container a:hover {
    color: #61b030;
}