<div class="container">
    <div class="row middle-xs between-xs">
        <div class="col-lg-1 col-md-1 col-xs-2">
            <a href="#">
                <img src="img/main/menu.png" alt="menu" />
            </a>
        </div>
        <div class="col-lg-2 col-md-2 hidden-sm hidden-xs">
            <p class="logo center-xs">Cooking</p>
        </div>
        <div class="col-lg-6 col-md-4 col-sm-5 col-xs-7">
            <div class="row middle-xs between-sm around-xs">
                <div class="col-sm-10 col-xs-7">
                    <input class="searchbar" type="text" />
                </div>
                <div class="col-sm-1 col-xs-2">
                    <a href="#">
                        <img
                            src="img/main/search.png"
                            alt="search"
                        />
                    </a>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-5 col-xs-3">
            <div class="row middle-xs end-sm">
                <div class="col-xs-3 hidden-xs">
                    <div class="row center-xs">
                        <div class="col-xs-10">
                            <a href="#">
                                <img
                                    src="img/main/add_recipe.png"
                                    alt="add_recipe"
                                />
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-xs-3 hidden-xs">
                    <div class="row center-xs">
                        <div class="col-xs-10">
                            <a href="#">
                                <img
                                    src="img/main/favourite.png"
                                    alt="favourite"
                                />
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-xs-4">
                    <div class="row center-xs">
                        <div class="col-xs-10">
                            <a href="#">
                                <img
                                    class="profile-pic"
                                    src="img/main/profile.png"
                                    alt="profile"
                                />
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>