<div class="col-sm-3 col-xs-6">
    <div class="center-fix row center-xs">
        <div
            class="info-block col-xl-9 col-lg-10 col-sm col-xs-11 center-xs"
        >
            <div class="row center-xs">
                <p class="info-category" data-content="category"></p>
            </div>
            <div class="row center-xs">
                <div
                    class="col-xl-8 col-lg-9 col-xs-11"
                >
                    <div class="info-value-block" data-content="value">
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>