<div class="col-lg-5 col-md-6 col-sm-8 col-xs">
    <div class="timer-block">
        <div class="row center-xs">
            <div class="col-xs">
                <p class="timer">
                    <span id="hours" data-content="hours"
                        ></span
                    >:<span id="minutes" data-content="minutes"
                        ></span
                    >:<span id="seconds" data-content="seconds"
                        ></span
                    >
                </p>
            </div>
        </div>
        <div class="row around-xs middle-xs">
            <div class="col-xs-4">
                <img
                    src="img/recipe/play_button.png"
                    alt="play_btn"
                    onclick="on_play_btn_click()"
                />
            </div>
            <div class="col-xs-4">
                <img
                    src="img/recipe/pause_button.png"
                    alt="pause_btn"
                    onclick="on_pause_btn_click()"
                />
            </div>
            <div class="col-xs-4">
                <img
                    src="img/recipe/restart_button.png"
                    alt="restart_btn"
                    onclick="on_restart_btn_click()"
                />
            </div>
        </div>
    </div>
</div>