<div class="container">
    <div class="menu-container row start-xs">
        <div class="menu-block sidebar-block col-lg-4 col-md-5 start-xs">
            <div class="sidebar-menu start-xs">
                <p>Меню:</p>
                <ul>
                    <li>
                        <a href="index.html">Главная</a>
                    </li>
                    <li>
                        <p>Профиль:</p>
                        <ul>
                            <li>
                                <a href="profile.html?tab=1"
                                    >Мой профиль</a
                                >
                            </li>
                            <li>
                                <a href="profile.html?tab=2"
                                    >Избранные рецепты</a
                                >
                            </li>
                            <li>
                                <a href="profile.html?tab=3"
                                    >Мои рецепты</a
                                >
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="new_recipe.html">Создать рецепт</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row middle-xs between-xs">
        <div class="col-lg-1 col-md-1 col-xs-2">
            <a id="sidebar_btn" href="#">
                <img src="img/main/menu.png" alt="menu" />
            </a>
        </div>
        <div class="col-lg-2 col-md-2 hidden-sm hidden-xs">
            <a href="index.html" class="logo center-xs">Cooking</a>
        </div>
        <div class="col-lg-6 col-md-4 col-sm-5 col-xs-7">
            <div class="row middle-xs between-sm around-xs">
                <div class="col-sm-10 col-xs-7">
                    <input class="searchbar" type="text" />
                </div>
                <div class="col-sm-1 col-xs-2">
                    <img src="img/main/search.png" alt="search" onclick="search_btn_click()"/>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-5 col-xs-3">
            <div class="row middle-xs end-sm">
                <div class="col-xs-3 hidden-xs">
                    <div class="row center-xs">
                        <div class="col-xs-10">
                            <img
                                src="img/main/add_recipe.png"
                                alt="add_recipe"
                                onclick="on_add_recipe_btn_click()"
                            />
                        </div>
                    </div>
                </div>
                <div class="col-xs-3 hidden-xs">
                    <div class="row center-xs">
                        <div class="col-xs-10">
                            <img
                                src="img/main/favourite.png"
                                alt="favourite"
                                onclick="on_fav_btn_click()"
                            />
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 col-xs-10">
                    <div class="row center-xs">
                        <div class="col-xs-10">
                            <div class="round-block profile-pic">
                                <img
                                    class="round-img"
                                    src="img/main/profile.png"
                                    onerror="$(this).attr('src', 'img/main/profile.png');"
                                    alt="profile"
                                    onclick="on_profile_btn_click()"
                                />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
