<div class="container">
    <div class="auth-modal-block row center-xs">
        <div id="sign_up_modal" class="auth-modal col-xl-4 col-lg-5 col-md-6 col-sm-8 col-xs-11">
            <div class="row center-xs">
                <div class="col-xs">
                    <h3>Регистрация</h3>
                </div>
            </div>
            <div class="row start-xs">
                <div class="col-xs">
                    <form class="auth-form">
                        <label for="login">Логин</label>
                        <input type="text" name="login" autocomplete="off"/>
                        <br />
                        <label for="password">Пароль</label>
                        <input type="password" name="password" autocomplete="off"/>
                        <br />
                        <label for="password_confirmation">Подтверждение пароля</label>
                        <input type="password" name="password_confirmation" autocomplete="off"/>
                        <br />
                        <label for="email">Почта</label>
                        <input type="email" name="email" autocomplete="off"/>
                        <br />
                    </form>
                </div>
            </div>
            <div class="row start-xs">
                <div class="col-xs">
                    <p class="hint"></p>
                </div>
            </div>
            <div class="row">
                <div class="col-xs">
                    <button onclick="sign_up()" class="btn btn-wide">Зарегистрироваться</button>
                </div>
            </div>
            <div class="row center-xs">
                <div class="col-xs">
                    <a href="#" onclick="on_sign_in_click()">Авторизоваться</a>
                </div>
            </div>
        </div>
    </div>
</div>