<div class="col-lg-4 col-md-6 col-xs-10">
    <div class="recipe-card">
        <div class="edit-btn">
            <img
                src="img/profile/edit.svg"
                data-alt="edit_alt"
                onclick="edit_recipe(this)"
            />
        </div>
        <div class="delete-btn">
            <img
                src="img/profile/delete.svg"
                data-alt="delete_alt"
                onclick="delete_recipe(this)"
            />
        </div>
        <a class="recipe-link" data-href="href">
            <img
                class="recipe-card-img"
                onerror="$(this).attr('src', 'img/main/recipe_placeholder.png');"
                data-src="img_src"
                alt="recipe_photo"
            />
            <div class="recipe-card-info">
                <div class="recipe-card-time-block">
                    <p class="recipe-card-time" data-content="time"></p>
                </div>
                <p class="recipe-card-name" data-content="name"></p>
            </div>
        </a>
    </div>
</div>
